name: Release

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string

permissions:
  contents: write

jobs:
  release:
    runs-on: windows-latest

    steps:
    # download artifact asa_sm_jar
    - uses: actions/download-artifact@v3
      with:
        name: asa_sm_jar
        path: ${{ runner.temp }}

    #print the content of the current folder
    - name: test dir
      run: |
        dir
        cd target
        dir
      shell: cmd

    #unzip the artifact???
    - name: Extract tgz
      uses: ihiroky/extract-action@v1
      with:
        file_path: ${{ runner.temp }}/asa_sm.zip
        extract_dir: target


    - name: Building the installer
      run: |
        cd innosetup
        "%programfiles(x86)%\Inno Setup 6\iscc.exe" "script.iss"
      shell: cmd

    - uses: ncipollo/release-action@v1.13.0
      with:
        name: ${{ inputs.version }}
        tag: ${{ inputs.version }}
        artifacts: "innosetup/Output/*.exe"
        prerelease: true
        generateReleaseNotes: true
