name: Create Release

on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Configure application-prod.properties
      run: |
        python -c "import os; file = open('src/main/resources/application-prod.properties', 'w'); file.write(os.environ['APPLICATION_PROD_PROPERTIES']); file.close()"
      env:
        APPLICATION_PROD_PROPERTIES : ${{secrets.APPLICATION_PROD_PROPERTIES}}
        
    - name: Build with Maven
      run: mvn -B package --file pom.xml -Pprod

    # TODO: create an installer or a zip or something

    # TODO: use the zip or something, don't use the jar
    - uses: ncipollo/release-action@v1.13.0
      with:
        artifacts: "target/*.jar"
        draft: true
        generateReleaseNotes: true
